#div1 p{
    margin: auto;
    text-align: center;
    color: blue;
    font-size: 32px;
}
#form{
    display: flex;
    justify-content: center;
}
#email{
    width: 220px;
}
#rd{
    vertical-align: top;
}
#purpose{
    height: 50px;
    width: 220px;
}